.result-background{
    background-image: url('../assets/background.png'); 
    min-height: 100vh; 
    width: 100%;       
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.result-form-container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding:30px;
    margin-top: -153px;
    height: 490px;
    width: 1260px;
    border-radius: 50px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);

}

.result-title {
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.result-subtitle {
    text-align: center;
    margin-bottom: 40px;
    color: #555;
}


.result-status-box {
    margin: auto; 
    width: 80%; 
    padding: 30px; 
    height: 250px;
    margin-top: -25px;
    background-image: url("../assets/Verifyresult.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.status-grid {
    width: 100%;
    margin-top: 20px;
}

.result-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 1.1rem;
    color: #444;
    /* Optional: Separator line */
    border-bottom: 1px solid #eee; 
}
.result-row:last-child {
    border-bottom: none;
}

.result-label {
    font-weight: bold;
    flex-basis: 30%; 
    text-align: left;
    color: #333;
}

.result-value {
    flex-basis: 60%; 
    text-align: right;
    font-weight: normal;
}

.result-fingerprints-box {
    position: static; 
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start;
    margin-top:-45px;
    padding-top: 30px; 
    background-image: url('../assets/hashreportgrad.png');
    height: 130px;
    padding:10px;
    padding-bottom: 5px;
    width: 1239px; 

    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.fingerprints-title {
    position: static;
    margin-top: -40px;
    color: #333;
}

.fingerprints-title h2{
    font-size: 1.1rem;
    margin-left:10px;
    margin-top:10px;

}

.hashes-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:20px;
}

.hash-box {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
    width: 45%; 
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

.hash-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000;
}

.hash-content {
    white-space: pre-wrap; 
    word-break: break-all;
    font-size: 0.75rem;
    color: #555;
    margin: 0;
}


.download-wrapper {
    text-align: center; 
    margin-top: 30px;
}

.download-button {
    padding: 12px 30px;
    background-image: url("../assets/verifybutton.png");
    color: white;
    border: none;
    border-radius: none;
    
    font-size: 1.1rem;
    cursor: pointer;
}

.download-button:hover {
    background-color: #4b4fa0;
}